body {
    background-color: #e8e8e8;
}
.main{
    width: 1190px;
    height: 1064px;
    background: url('../img/ellipse_1_copy_4.png');
    margin: 100px 120px 0 150px;
    padding: 50px 50px 0 50px ;   
}
.h1{
    opacity: 1;
    text-align: center;
    opacity: 0.6;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #273d46;
}
.h2{
    width: 725px;
    height: 75px;
    margin-left: 150px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color: #273d46;
}
.img{
    width: 841px;
    height: 561px;
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
    padding: 10px;
    margin: 50px 200px 120px 100px;
}
.text{
    opacity: 0.8;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;  
}
.in{
    width: 750px;
    margin-left: 150px;
}
.out{
    margin:0 0 60px 350px;
    width: 750px;
}
.list{
    margin: 0 0 15px 350px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
li {
    margin: 0 0 15px 0;
    background: url('../img/check_icon_37.png') left center no-repeat;
    padding: 0 0 0px 30px;
    line-height: 36px;
    font-weight: 400;
    color:rgb(39,61,70,)
}
.l1{
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}
.l2{
    font-style: italic;
    color: #80b7b3;
}
.l3{
    font-weight: 700;
}
.l4{
    text-decoration: line-through;
    color: rgba(39,61,70,0.3);
}
.button{
    margin: 35px 0 130px 350px;
    border-radius: 50px;
    padding: 3px 10px 0 20px;
    width: 199px;
    height: 44px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    background-color: #81b7b2;
}
.text1{
font-family: Arial;
font-size: 14px;
line-height: 40px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
}
.img2{
    margin: 10px 0 0 15px;
}